CONFIG PART=5VLX50TFF1136-1 ;
NET  MCLK1		   LOC=J16;
NET  MCLK1		   IOSTANDARD = LVTTL;
NET RS_TX			LOC=K11;
NET RS_TX		   IOSTANDARD = LVTTL;
NET RS_RX			LOC=J11;
NET RS_RX		   IOSTANDARD = LVTTL;

#Created by Constraints Editor (xc5vlx50t-ff1136-1) - 2012/11/12
NET "ct1" TNM_NET = ct1;
TIMESPEC TS_ct1 = PERIOD "ct1" 29.04 ns HIGH 50%;
